html, body {
    background-color: solid #F5F5F5;
}

.homepage-navigation-bar nav {
    height: 75px;
    background-color: #f0706e!important;
    border-radius: 0px!important;
}

.homepage-navigation-bar .navbar-brand {
    width: 100px;
}

.homepage-navigation-bar .logo-image {
    width: 100px;
    position: absolute;
    top: 5px;
    left: 5px;
}

.homepage-navigation-bar .items {
    margin: 0 auto;
}

.homepage-navigation-bar .items li {
    margin-left: 40px;
    margin-right: 40px;
}

.homepage-navigation-bar .items li a {
    font-size: 15px;
    color: white !important;
}