html, body {
    background-color: solid #F5F5F5;
}

.header {
    margin: 0 auto;
}

.homepage-navigation-bar {
    height: 100px;
    background-color: #f0706e;
    border-radius: 0px!important;
}

.homepage-navigation-bar .navbar-brand img {
    width: 130px; 
    position: absolute;
    top: 5px;
    left: 5px;
}

.homepage-navigation-bar .nav {
    margin: 0 auto;
}

.homepage-navigation-bar .item {
    margin-left: 40px;
    margin-right: 40px;
    font-size: 20px;
    color: whitesmoke !important;
}